# **Bronze to Silver Transformation â€” DimCustomer**

## Introduction
This notebook loads the AdventureWorks Customers dataset from the Bronze layer, performs data cleaning, standardization, and derives customer-level attributes. The resulting table is written to the Silver layer as a managed Delta table named `DimCustomer`.

In [1]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

StatementMeta(, ea931cf2-8a02-484e-9924-ced42b6d850c, 3, Finished, Available, Finished)

In [2]:
# Load Bronze Data
df_customers_Bronze = \
    spark.read.format("csv")\
    .option("header", True)\
    .option("inferScheme", True)\
    .load("abfss://MonoWS@onelake.dfs.fabric.microsoft.com/MonoLH_Bronze.Lakehouse/Files/Raw/AdventureWorks_Customers/AdventureWorks_Customers.csv")


# Preview dtype and data
df_customers_Bronze.printSchema()
df_customers_Bronze.show()

StatementMeta(, ea931cf2-8a02-484e-9924-ced42b6d850c, 4, Finished, Available, Finished)

root
 |-- CustomerKey: string (nullable = true)
 |-- Prefix: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- BirthDate: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- AnnualIncome: string (nullable = true)
 |-- TotalChildren: string (nullable = true)
 |-- EducationLevel: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- HomeOwner: string (nullable = true)

+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
|CustomerKey|Prefix|FirstName|LastName|BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren| EducationLevel|    Occupation|HomeOwner|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
|      11000|   MR.|      JON|    YANG| 4/8/1966|            M|     M|jon24@adventure-w...|    $90,000 |            2|      Bachelors|  Professional|        Y|
|      11001|   MR.|   EUGENE|   HUANG|5/14/1965|            S|     M|eugene10@adventur...|    $60,000 |            3|      Bachelors|  Professional|        N|
|      11002|   MR.|    RUBEN|  TORRES|8/12/1965|            M|     M|ruben35@adventure...|    $60,000 |            3|      Bachelors|  Professional|        Y|
|      11003|   MS.|  CHRISTY|     ZHU|2/15/1968|            S|     F|christy12@adventu...|    $70,000 |            0|      Bachelors|  Professional|        N|
|      11004|  MRS.|ELIZABETH| JOHNSON| 8/8/1968|            S|     F|elizabeth5@advent...|    $80,000 |            5|      Bachelors|  Professional|        Y|
|      11005|   MR.|    JULIO|    RUIZ| 8/5/1965|            S|     M|julio1@adventure-...|    $70,000 |            0|      Bachelors|  Professional|        Y|
|      11007|   MR.|    MARCO|   MEHTA| 5/9/1964|            M|     M|marco14@adventure...|    $60,000 |            3|      Bachelors|  Professional|        Y|
|      11008|  MRS.|    ROBIN| VERHOFF| 7/7/1964|            S|     F|rob4@adventure-wo...|    $60,000 |            4|      Bachelors|  Professional|        Y|
|      11009|   MR.|  SHANNON| CARLSON| 4/1/1964|            S|     M|shannon38@adventu...|    $70,000 |            0|      Bachelors|  Professional|        N|
|      11010|   MS.|JACQUELYN|  SUAREZ| 2/6/1964|            S|     F|jacquelyn20@adven...|    $70,000 |            0|      Bachelors|  Professional|        N|
|      11011|   MR.|   CURTIS|      LU|11/4/1963|            M|     M|curtis9@adventure...|    $60,000 |            4|      Bachelors|  Professional|        Y|
|      11012|  MRS.|   LAUREN|  WALKER|1/18/1968|            M|     F|lauren41@adventur...|   $100,000 |            2|      Bachelors|    Management|        Y|
|      11013|   MR.|      IAN| JENKINS| 8/6/1968|            M|     M|ian47@adventure-w...|   $100,000 |            2|      Bachelors|    Management|        Y|
|      11014|  MRS.|   SYDNEY| BENNETT| 5/9/1968|            S|     F|sydney23@adventur...|   $100,000 |            3|      Bachelors|    Management|        N|
|      11015|   MS.|    CHLOE|   YOUNG|2/27/1979|            S|     F|chloe23@adventure...|    $30,000 |            0|Partial College|Skilled Manual|        N|
|      11016|   MR.|    WYATT|    HILL|4/28/1979|            M|     M|wyatt32@adventure...|    $30,000 |            0|Partial College|Skilled Manual|        Y|
|      11017|  MRS.|  SHANNON|    WANG|6/26/1944|            S|     F|shannon1@adventur...|    $20,000 |            4|    High School|Skilled Manual|        Y|
|      11018|   MR.| CLARENCE|     RAI|10/9/1944|            S|     M|clarence32@advent...|    $30,000 |            2|Partial College|      Clerical|        Y|
|      11019|   MR.|     LUKE|     LAL| 3/7/1978|            S|     M|luke18@adventure-...|    $40,000 |            0|    High School|Skilled Manual|        N|
|      11020|   MR.|   JORDAN|    KING|9/20/1978|            S|     M|jordan73@adventur...|    $40,000 |            0|    High School|Skilled Manual|        N|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
only showing top 20 rows

In [3]:
# Data Quality Checks
from pyspark.sql.functions import *

df_customers_Bronze.groupBy("CustomerKey") \
    .count() \
    .filter(col("count") > 1) \
    .show()

df_any_null_or_blank = df_customers_Bronze.filter(
    " OR ".join(
        [f"({c} IS NULL OR {c} = '')" for c in df_customers_Bronze.columns]
    )
)

df_any_null_or_blank.show(truncate=False)

StatementMeta(, ea931cf2-8a02-484e-9924-ced42b6d850c, 5, Finished, Available, Finished)

+-----------+-----+
|CustomerKey|count|
+-----------+-----+
+-----------+-----+

+-----------+------+---------+---------+----------+-------------+------+-------------------------------+------------+-------------+-------------------+--------------+---------+
|CustomerKey|Prefix|FirstName|LastName |BirthDate |MaritalStatus|Gender|EmailAddress                   |AnnualIncome|TotalChildren|EducationLevel     |Occupation    |HomeOwner|
+-----------+------+---------+---------+----------+-------------+------+-------------------------------+------------+-------------+-------------------+--------------+---------+
|11025      |NULL  |ALEJANDRO|BECK     |12/23/1945|M            |NA    |alejandro45@adventure-works.com|$10,000     |2            |Partial High School|Clerical      |Y        |
|11035      |NULL  |WENDY    |DOMINGUEZ|2/24/1948 |M            |NA    |wendy12@adventure-works.com    |$10,000     |2            |Partial High School|Clerical      |Y        |
|11082      |NULL  |ANGELA   |BUTLER   |8/4/1966  |S            |NA    |angela17@adventure-works.com   |$130,000    |0            |Graduate Degree    |Management    |N        |
|11234      |NULL  |ANNA     |GRIFFIN  |11/19/1952|S            |NA    |anna46@adventure-works.com     |$70,000     |4            |Partial College    |Professional  |Y        |
|11475      |NULL  |CESAR    |SUBRAM   |10/9/1978 |S            |NA    |cesar12@adventure-works.com    |$30,000     |0            |High School        |Manual        |N        |
|11526      |NULL  |KATHERINE|DIAZ     |8/6/1956  |M            |NA    |katherine48@adventure-works.com|$40,000     |1            |Partial College    |Clerical      |Y        |
|11623      |NULL  |ANGELA   |PERRY    |6/27/1973 |S            |NA    |angela10@adventure-works.com   |$50,000     |1            |Graduate Degree    |Skilled Manual|Y        |
|11643      |NULL  |NAOMI    |MUNOZ    |7/27/1970 |M            |NA    |naomi7@adventure-works.com     |$50,000     |1            |Bachelors          |Skilled Manual|Y        |
|11965      |NULL  |KATIE    |SHE      |10/19/1956|S            |NA    |katie3@adventure-works.com     |$70,000     |2            |High School        |Skilled Manual|Y        |
|12276      |NULL  |ALISHA   |SHAN     |7/13/1970 |M            |NA    |alisha34@adventure-works.com   |$30,000     |0            |Bachelors          |Clerical      |Y        |
|12283      |NULL  |TODD     |ZENG     |8/10/1969 |S            |NA    |todd19@adventure-works.com     |$20,000     |0            |Partial College    |Manual        |Y        |
|12300      |NULL  |ADRIANA  |GONZALEZ |7/18/1946 |S            |NA    |adriana19@adventure-works.com  |$80,000     |5            |Partial College    |Professional  |Y        |
|12372      |NULL  |DARREN   |PRASAD   |9/18/1963 |S            |NA    |darren12@adventure-works.com   |$60,000     |3            |Bachelors          |Professional  |N        |
|12446      |NULL  |JASMINE  |HALL     |8/3/1957  |M            |NA    |jasmine21@adventure-works.com  |$40,000     |1            |Partial College    |Clerical      |Y        |
|12517      |NULL  |ALEXA    |WATSON   |8/25/1977 |S            |NA    |alexa0@adventure-works.com     |$30,000     |0            |Partial College    |Clerical      |N        |
|12765      |NULL  |ROBYN    |GILL     |5/20/1954 |M            |NA    |robyn11@adventure-works.com    |$20,000     |2            |Partial High School|Manual        |N        |
|12790      |NULL  |BRANDON  |KUMAR    |10/5/1958 |S            |NA    |brandon25@adventure-works.com  |$60,000     |4            |Graduate Degree    |Skilled Manual|Y        |
|12936      |NULL  |RENEE    |MORENO   |3/27/1965 |S            |NA    |renee6@adventure-works.com     |$40,000     |0            |Bachelors          |Professional  |Y        |
|13138      |NULL  |TERESA   |ALONSO   |6/11/1960 |M            |NA    |teresa8@adventure-works.com    |$70,000     |5            |Partial College    |Skilled Manual|Y        |
|13448      |NULL  |CATHERINE|WARD     |7/13/1962 |M            |NA    |catherine11@adventure-works.com|$130,000    |1            |Bachelors          |Management    |Y        |
+-----------+------+---------+---------+----------+-------------+------+-------------------------------+------------+-------------+-------------------+--------------+---------+
only showing top 20 rows

In [4]:
cols_to_check = ["Prefix", "MaritalStatus", "Gender", "TotalChildren", "EducationLevel", "Occupation","HomeOwner"]

for c in cols_to_check:
    print(f"\n===== {c} =====")
    df_customers_Bronze.groupBy(c).count().show()

StatementMeta(, ea931cf2-8a02-484e-9924-ced42b6d850c, 6, Finished, Available, Finished)

===== Prefix =====
+------+-----+
|Prefix|count|
+------+-----+
|   MS.| 2470|
|  NULL|  130|
|  MRS.| 6422|
|   MR.| 9126|
+------+-----+


===== MaritalStatus =====
+-------------+-----+
|MaritalStatus|count|
+-------------+-----+
|            M| 9817|
|            S| 8331|
+-------------+-----+


===== Gender =====
+------+-----+
|Gender|count|
+------+-----+
|     F| 8892|
|    NA|  130|
|     M| 9126|
+------+-----+


===== TotalChildren =====
+-------------+-----+
|TotalChildren|count|
+-------------+-----+
|            3| 2153|
|            0| 5080|
|            5| 1401|
|            1| 3552|
|            4| 2259|
|            2| 3703|
+-------------+-----+


===== EducationLevel =====
+-------------------+-----+
|     EducationLevel|count|
+-------------------+-----+
|        High School| 3241|
|Partial High School| 1555|
|    Graduate Degree| 3125|
|    Partial College| 4966|
|          Bachelors| 5261|
+-------------------+-----+


===== Occupation =====
+--------------+-----+
|    Occupation|count|
+--------------+-----+
|    Management| 3011|
|  Professional| 5424|
|      Clerical| 2859|
|        Manual| 2353|
|Skilled Manual| 4501|
+--------------+-----+


===== HomeOwner =====
+---------+-----+
|HomeOwner|count|
+---------+-----+
|        Y|12260|
|        N| 5888|
+---------+-----+

In [5]:
# Transform Customer Data

df_customers_Silver = (
    df_customers_Bronze
        # --- Cast columns to correct types ---
        .withColumn("CustomerKey", col("CustomerKey").cast("int"))
        .withColumn("TotalChildren", col("TotalChildren").cast("int"))
        .withColumn("BirthDate", to_date(col("BirthDate"), "M/d/yyyy"))
        .withColumn("EmailAddress", lower(col("EmailAddress")))
        
        .withColumn("AnnualIncome", regexp_replace(col("AnnualIncome"), "[$,]", ""))
        .withColumn("AnnualIncome", col("AnnualIncome").cast("double"))

        # --- Create Full Name column ---
        .withColumn("FullName", concat_ws(" ", col("FirstName"), col("LastName")))
                
        # --- Clean empty strings -> null ---
        .na.replace("", None)
        
        # --- Remove duplicates (keeping unique customer keys) ---
        .dropDuplicates(["CustomerKey"])
)

df_customers_Silver.show()
df_customers_Silver.printSchema()

StatementMeta(, ea931cf2-8a02-484e-9924-ced42b6d850c, 7, Finished, Available, Finished)

+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+-----------------+
|CustomerKey|Prefix|FirstName|LastName| BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren| EducationLevel|    Occupation|HomeOwner|         FullName|
+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+-----------------+
|      11000|   MR.|      JON|    YANG|1966-04-08|            M|     M|jon24@adventure-w...|     90000.0|            2|      Bachelors|  Professional|        Y|         JON YANG|
|      11001|   MR.|   EUGENE|   HUANG|1965-05-14|            S|     M|eugene10@adventur...|     60000.0|            3|      Bachelors|  Professional|        N|     EUGENE HUANG|
|      11002|   MR.|    RUBEN|  TORRES|1965-08-12|            M|     M|ruben35@adventure...|     60000.0|            3|      Bachelors|  Professional|        Y|     RUBEN TORRES|
|      11003|   MS.|  CHRISTY|     ZHU|1968-02-15|            S|     F|christy12@adventu...|     70000.0|            0|      Bachelors|  Professional|        N|      CHRISTY ZHU|
|      11004|  MRS.|ELIZABETH| JOHNSON|1968-08-08|            S|     F|elizabeth5@advent...|     80000.0|            5|      Bachelors|  Professional|        Y|ELIZABETH JOHNSON|
|      11005|   MR.|    JULIO|    RUIZ|1965-08-05|            S|     M|julio1@adventure-...|     70000.0|            0|      Bachelors|  Professional|        Y|       JULIO RUIZ|
|      11007|   MR.|    MARCO|   MEHTA|1964-05-09|            M|     M|marco14@adventure...|     60000.0|            3|      Bachelors|  Professional|        Y|      MARCO MEHTA|
|      11008|  MRS.|    ROBIN| VERHOFF|1964-07-07|            S|     F|rob4@adventure-wo...|     60000.0|            4|      Bachelors|  Professional|        Y|    ROBIN VERHOFF|
|      11009|   MR.|  SHANNON| CARLSON|1964-04-01|            S|     M|shannon38@adventu...|     70000.0|            0|      Bachelors|  Professional|        N|  SHANNON CARLSON|
|      11010|   MS.|JACQUELYN|  SUAREZ|1964-02-06|            S|     F|jacquelyn20@adven...|     70000.0|            0|      Bachelors|  Professional|        N| JACQUELYN SUAREZ|
|      11011|   MR.|   CURTIS|      LU|1963-11-04|            M|     M|curtis9@adventure...|     60000.0|            4|      Bachelors|  Professional|        Y|        CURTIS LU|
|      11012|  MRS.|   LAUREN|  WALKER|1968-01-18|            M|     F|lauren41@adventur...|    100000.0|            2|      Bachelors|    Management|        Y|    LAUREN WALKER|
|      11013|   MR.|      IAN| JENKINS|1968-08-06|            M|     M|ian47@adventure-w...|    100000.0|            2|      Bachelors|    Management|        Y|      IAN JENKINS|
|      11014|  MRS.|   SYDNEY| BENNETT|1968-05-09|            S|     F|sydney23@adventur...|    100000.0|            3|      Bachelors|    Management|        N|   SYDNEY BENNETT|
|      11015|   MS.|    CHLOE|   YOUNG|1979-02-27|            S|     F|chloe23@adventure...|     30000.0|            0|Partial College|Skilled Manual|        N|      CHLOE YOUNG|
|      11016|   MR.|    WYATT|    HILL|1979-04-28|            M|     M|wyatt32@adventure...|     30000.0|            0|Partial College|Skilled Manual|        Y|       WYATT HILL|
|      11017|  MRS.|  SHANNON|    WANG|1944-06-26|            S|     F|shannon1@adventur...|     20000.0|            4|    High School|Skilled Manual|        Y|     SHANNON WANG|
|      11018|   MR.| CLARENCE|     RAI|1944-10-09|            S|     M|clarence32@advent...|     30000.0|            2|Partial College|      Clerical|        Y|     CLARENCE RAI|
|      11019|   MR.|     LUKE|     LAL|1978-03-07|            S|     M|luke18@adventure-...|     40000.0|            0|    High School|Skilled Manual|        N|         LUKE LAL|
|      11020|   MR.|   JORDAN|    KING|1978-09-20|            S|     M|jordan73@adventur...|     40000.0|            0|    High School|Skilled Manual|        N|      JORDAN KING|
+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+-----------------+
only showing top 20 rows

root
 |-- CustomerKey: integer (nullable = true)
 |-- Prefix: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- BirthDate: date (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- AnnualIncome: double (nullable = true)
 |-- TotalChildren: integer (nullable = true)
 |-- EducationLevel: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- HomeOwner: string (nullable = true)
 |-- FullName: string (nullable = true)

In [6]:
# Write DimCustomer Table to Silver Layer (Delta Format)

df_customers_Silver.write\
    .mode("append")\
    .format("delta")\
    .saveAsTable("DimCustomer")

StatementMeta(, ea931cf2-8a02-484e-9924-ced42b6d850c, 8, Finished, Available, Finished)

In [7]:
# Verify if Silver write Succeeded
df_dimcustomer_silver_check = spark.read.table("DimCustomer")
df_dimcustomer_silver_check.show(5)
df_dimcustomer_silver_check.printSchema()

StatementMeta(, ea931cf2-8a02-484e-9924-ced42b6d850c, 9, Finished, Available, Finished)

+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+-----------------+
|CustomerKey|Prefix|FirstName|LastName| BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren|EducationLevel|  Occupation|HomeOwner|         FullName|
+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+-----------------+
|      11000|   MR.|      JON|    YANG|1966-04-08|            M|     M|jon24@adventure-w...|     90000.0|            2|     Bachelors|Professional|        Y|         JON YANG|
|      11001|   MR.|   EUGENE|   HUANG|1965-05-14|            S|     M|eugene10@adventur...|     60000.0|            3|     Bachelors|Professional|        N|     EUGENE HUANG|
|      11002|   MR.|    RUBEN|  TORRES|1965-08-12|            M|     M|ruben35@adventure...|     60000.0|            3|     Bachelors|Professional|        Y|     RUBEN TORRES|
|      11003|   MS.|  CHRISTY|     ZHU|1968-02-15|            S|     F|christy12@adventu...|     70000.0|            0|     Bachelors|Professional|        N|      CHRISTY ZHU|
|      11004|  MRS.|ELIZABETH| JOHNSON|1968-08-08|            S|     F|elizabeth5@advent...|     80000.0|            5|     Bachelors|Professional|        Y|ELIZABETH JOHNSON|
+-----------+------+---------+--------+----------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+-----------------+
only showing top 5 rows

root
 |-- CustomerKey: integer (nullable = true)
 |-- Prefix: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- BirthDate: date (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- AnnualIncome: double (nullable = true)
 |-- TotalChildren: integer (nullable = true)
 |-- EducationLevel: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- HomeOwner: string (nullable = true)
 |-- FullName: string (nullable = true)